* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    background-color: #fff;
    border: 1px dashed #000;
    width: 70px;
    height: 50px;
    margin: 10px;
}

.bg_color_1 {
    background-color: #2C3E50;
}

.bg_color_2 {
    background-color: #1ABC9C;
}

.bg_color_3 {
    background-color: #3A546D;
}

.col_bg_color_1 {
    background-color: #BA4B63;
}

.col_bg_color_2 {
    background-color: #1EA4B6;
}

.col_bg_color_3 {
    background-color: #000;
}

.col_bg_color_4 {
    background-color: #1C83C1;
}

.col_bg_color_5 {
    background-color: #0E38B5;
}

.col_bg_color_6 {
    background-color: #CCB2A3;
}

ul {
    list-style: none;
    display: none;
}

li {
    display: flex;
}