* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    background-color: #fff;
    border: 1px dashed #000;
    width: 70px;
    height: 50px;
    margin: 10px;
}

.bg_color_1 {
    background-color: #2C3E50;
}

.bg_color_2 {
    background-color: #1ABC9C;
}

ul {
    list-style: none;
    display: none;
}

li {
    display: flex;
}